services:
  backend:
    build: ./care-connect-backend
    ports:
      - "5000:5000"
    env_file: 
      - ./care-connect-backend/.env
    networks:
      - app-network

  frontend:
    build: ./care-connect-frontend
    ports:
      - "5173:5173"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge